<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{site.baseurl}}/css/common.css">
    <title>Jude Design Shop<</title>
</head>
<body>

<header>
    <h1>Jude Design Shod</h1>
    {% include nav.html navclass="nav-top" %}
</header>

{{content}}

<footer>
    <p>Copyright 2013 Jude Design Shop</p>
    {% include nav.html navclass="nav-bottom" %}
</footer>

</body>
</html>